body{
    font-family: Arial;
    background:#f4f6f8;
    padding:20px;
}

.container{
    background:#fff;
    padding:20px;
    max-width:900px;
    margin:auto;
}

input,button{
    padding:8px;
    margin:5px 0;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ccc;
    padding:8px;
    text-align:center;
}
